.products {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 15px;
}

.productsContainer {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
